<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css"	>
body {
		background-color: #C7E4D9;
		color: black;
		font-family: 'Alegreya Sans SC', sans-serif;
	}
	</style>
<link type="text/css" ref="stylesheet" href="public/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
</head>
<body>
	<h1>Top Women in Tennis</h1>
	<ul>
		<% for(let i = 0; i < tennisStarsList.length; i++){ %>
            <li>
			<a href="/tennisStars/<%=tennisStarsList[i].id%>"><%=tennisStarsList[i].name%></a> is from <%=tennisStarsList[i].home%>
			<form method="POST" action="/tennisStars/<%=tennisStarsList[i].id%>?_method=DELETE">
				<input type="submit" value="DELETE"/>
			</form>
				<a href="/tennisStars/<%=tennisStarsList[i].id%>/edit">EDIT</a>
            </li><br/>
            <% } %>
        </ul>
    <nav>
    	<a href="/tennisStars/new">Add a New Player</a>
    </nav>
</body>
</html>